:root {
  --backgroundColor1: #171717;
  --backgroundColor2: #202020;
  --font: #EEEEEE;
  --red: #ff3838;
  --pink: #F73D93;
  --purple: #f838ff;
  --cyan: #38e8ff;
  --blue: #3856ff;
  --green: #38ff42;
  --yellow: #ffeb38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  background-color: var(--backgroundColor1);
  color: var(--font);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  width: 100vw;
  height: 100%;
  max-width: 400px;

  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;

  background-color: var(--backgroundColor2);
}

a {
  color: inherit;
  text-decoration: none;
}


button {
  border: 0;
  cursor: pointer;
}
