:root {
  --backgroundColor1: #171717;
  --backgroundColor2: #202020;
  --font: #EEEEEE;
  --red: #ff3838;
  --pink1: #F73D93;
  --pink2: #b3135d;
  --purple: #f838ff;
  --cyan: #38e8ff;
  --blue: #3856ff;
  --green: #38ff42;
  --yellow: #ffeb38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 400 normal 16px 'Fira Sans', 'Taviraj', sans-serif, serif;
}

html {
  padding: 20px;
  background-color: var(--backgroundColor1);
  color: var(--font);
}

body {
  max-width: 400px;
  margin: 0 auto;

  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
