.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


  width: 100vw;
  max-width: 400px;
  height: 72px;
  border-radius: 10px;
  padding: 10px;

  background-color: var(--backgroundColor2);

  &.spaceBetween {
    justify-content: space-between;
  }

  .information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .avatar {
      border-radius: 10px 20px;
    }

    .text {
      margin-left: 10px;

      p:first-child {
        font: normal bolder normal 18px 'Taviraj', serif;
        line-height: 20px;
      }
    }
  }
}
