.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    background-color: transparent;

    font-family: 'Russo One', sans-serif;
    font-weight: bold;

    &.entrar {
      color: var(--green);
    }

    &.sair {
      color: var(--red);
    }

    &.entrar:hover:enabled {
      color: #88ff8e
    }

    &.sair:hover:enabled {
      color: #ff6c6c
    }

    &:disabled {
      cursor: default;
      color: var(--font)
    }
  }
}
