.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    height: 17px;
    border: 0;

    background-color: transparent;
    cursor: pointer;

    font-family: 'Russo One', sans-serif;
    font-size: 16px;

    &.logar {
      color: var(--green);
    }

    &.sair {
      color: var(--red);
    }

    &:hover {
      font-size: 17px;
    }
  }
}
