.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    font: normal 800 normal 18px 'Fira Sans', sans-serif;

    &.entrar {
      color: var(--green);
    }

    &.sair {
      color: var(--red);
    }

    &.entrar:hover:enabled {
      color: #88ff8e
    }

    &.sair:hover:enabled {
      color: #ff6c6c
    }

    &:disabled {
      cursor: default;
      color: var(--font)
    }
  }
}
