.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .hasUser {
    justify-content: space-between;
  }

  width: 100%;
  height: 72px;
  border-radius: 10px;
  padding: 10px;

  background-color: var(--backgroundColor2);

  .information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 10px 20px;
    }

    .text {
      width: 279px;
      margin: 0px 10px;

      :first-child {
        font: normal bolder normal 18px 'Taviraj', serif;
        line-height: 20px;
      }
    }
  }
}
